################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Eazii Foods/bin/Debug/net6.0
/Eazii Foods/obj
/Eazii Foods
