@model Eazii_Foods.ViewModel.ChefsViewModel

@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Chefs" asp-action="Create" method="post" enctype="multipart/form-data">
    <!--  Chefs Only  -->

    <div class="form-bg">
        <div class="container  mb-3 mt-5  p-5">
            <div class="row">
                <div class=" offset-3 col-md-6">
                    
                   <div class="form-horizontal  bg-dark shadow-lg">
                        <span class="heading text-white">CREATE</span>

                    <div class="form-group">

                        <input type="tel" class="form-control" name="NameOfChefs" value="" placeholder="NameOfChefs">

                    </div>
                    <div class="form-group help">

                        <input id="TypeOfFood" type="text" class="form-control" name="TypeOfFood" required value="" placeholder="TypeOfFood">
                    </div>
                    <div class="form-group help">

                        <input asp-for="Amount" type="text" class="form-control" name="Amount" required value="" placeholder="Amount">
                    </div>

                    <div class="form-group help">
                            <input type="file" asp-for="FoodImageUrl" class="form-control" required>
                    </div>

                     <div class="form-group">
                                  
                        <div class="form-group row create">
                            <div class="col-8 offset-4 row">
                                <div class="col">
                                    <input type="submit" class="btn-block rounded-pill" value="Update" />
                                </div>
                                <div class="col">
                                    <a asp-action="Index" role="button" class=" btn-block  rounded-pill text-center offset-3 px-5 py-2">
                                        Back
                                    </a>

                                </div>
                            </div>
                        </div>
                     </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</form>

